<!--How it started-->
<div class="container is-max-widescreen">
    <div class="columns is-centered">
        <div class="column is-10">
            <h1 class="title is-3">How it started</h1>
            <p class="">
              Honestly, this started is me needing a way to keep track of my own task. I also needed a way to work on web layout using a separate system that isnt attached to my 
              operational web applications ( the ones that make me money and run my businesses). So, I decided to create a simple task manager that I can use to keep track of my
              daily task and try new things in web development.
            </p>
            <p class="">
              So being an occasional gamer and mostly Role Playing Games (RPG) I decided to create a simple task manager that would "reward" me for completing task like leveling up a character.
              Kinda dumb, I know, but it was fun to work on and it was just for me anyway. I got the idea from a story I was told about the guy who ran the British Bike Team years ago. He was obsessed 
              with not overall performance but focused entirely on a 1% improvement in every aspect of the sport. So I decided to apply that to my life and see how it goes.
            </p>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-10">
            <h1 class="title is-3">Leveling Up Your Character</h1>
            <p class="">
              I had a friend in Afghanistan who was a philosophy major At Columbia University. He said once that any man needs to be a Warrior, Poet, and a Scholar. Over the years that has resonated 
              with me about happiness and life fullfillment being linked to balance. I built that into this system as <strong class="has-font-weight-semibold">Aspects</strong> of your character.
               Strength, Health, Wealth, Wisdom, and Skills.
            </p>
            <div class="content">
              <p>
                The idea is that you can level up your character by completing tasks that are linked to these aspects. For example, if you complete a task that is linked to Strength, you 
                get a point in that aspect. So we have a base level of where you are now. We assign that a point value and then set your next milestone as an easy 1% improvement. Met your milestone, 
                you get a point. <br>
                The more points you get, the higher your level in that aspect. The higher your level, the more rewards you get. The rewards are not from the game but from life. But making points 
                and levels in the Game is fun just like leveling up a character in a game. This time you are the character. 
              </p>
            
              <div class="box">
                <p><strong>Example 1:</strong></p>
                <p>Need more Savings? Start a Quest in Wealth, Enter your Current Savings ($459.85) and your next milestone is... adding $4.60 to your savings. Easy huh?</p>
              </div>
            
              <div class="box">
                <p><strong>Example 2:</strong></p>
                <p>Need to Lose Weight? Go to Health, Enter your Current Weight (200lbs) and your next milestone is just 2 lbs less...</p>
              </div>
            
              <div class="box">
                <p><strong>Possible Quest/Task</strong></p>
                <p>Eating less Calories, Benchpressing more weight, Making more Sales at Work, Buying more Bitcoin, Sleeping better, etc are all just simple tasks that can be incrementally improved for lasting results.</p>
              </div>
            
              <p>Once a Milestone is reached, your new amount becomes the baseline and a 1% improvement is figured.</p>
              <p>You can add as many Quests per Aspect as you would like. Each Quest can only be updated once in a 24-hour period.</p>
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-10">
            <h1 class="title is-3">Why this works</h1>
            <p>
              Giving yourself a daily goal that is attainable and reasonable ( its just 1% ) allows you to build better habits. Those daily habits are what will end up changing your life. 
              It's not the big things that make the difference, it's the small things done consistently. 
            </p>
        </div>
    </div>
</div>