<!--login page -->
<!--Mobile Content-->
<div class="is-hidden-tablet">
  <p class="is-size-4">Login</p>
  <p class="is-size-4">...Become the Hero You Were Destined to Be</p>
  <form action="/login" method="POST">
    <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" name="email" placeholder="Username">
    </div>
    </div>
    <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password" placeholder="Password">
    </div>
    </div>
    <div class="field">
    <div class="control">
      <button type="submit" class="button is-link">Login</button>
    </div>
    </div>
  </form>
  <hr>
  <div class="block mt-4">
    <span>Don't have an account? <a href="/register">Register</a></span>
  </div>
  
</div>
<!--Mobile Content End-->

<!--Desktop Content-->
<div class="container is-fluid is-hidden-mobile">
  <p class="is-size-4">Login</p>
  <p class="is-size-4">...Become the Hero You Were Destined to Be</p>
  <form action="/login" method="POST">
    <div class="field">
    <label class="label">Login Email</label>
    <div class="control">
      <input class="input" type="text" name="email" placeholder="Email">
    </div>
    </div>
    <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password" placeholder="Password">
    </div>
    </div>
    <div class="field">
    <div class="control">
      <button type="submit" class="button is-link">Login</button>
    </div>
    </div>
  </form>
  <hr>
  <div class="block mt-4">
    <span>Don't have an account? <a href="/register">Register</a></span>
  </div>
</div>