<div class="block">
  <div class="columns">
      <div class="column is-6 is-offset-3">
          <h1 class="title is-1 has-text-centered">Register</h1>
          <p class="is-size-5 has-text-centered mb-2">...Become the Hero You Were Destined to Be</p>
          <form action="/register" method="POST">
              <div class="field">
                  <label class="label">First Name</label>
                  <div class="control">
                      <input class="input" type="text" name="first_name" placeholder="First Name">
                  </div>
              </div>
              <div class="field">
                  <label class="label">Last Name</label>
                  <div class="control">
                      <input class="input" type="text" name="last_name" placeholder="Last Name">
                  </div>
              </div>
              <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                      <input required class="input" type="email" name="email" placeholder="Email">
                  </div>
                  <small>*this will be your login email</small>
              </div>
              <div class="field">
                  <label class="label">Username</label>
                  <div class="control">
                      <input required class="input" type="text" name="username" placeholder="Username">
                  </div>
                  <small>Must be Unique, case sensitive</small>
              </div>
              <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                      <input required class="input" type="password" name="password" placeholder="Password">
                  </div>
              </div>
              <div class="field">
                  <label class="label">Confirm Password</label>
                  <div class="control">
                      <input required class="input" type="password" name="confirm_password" placeholder="Confirm Password">
                  </div>
              </div>
              <div class="field">
                  <div class="control">
                      <button type="submit" class="button is-link">Register</button>
                  </div>
              </div>
          </form>
          <hr>
          <div class="block mt-4">
              <span>Already have an account? <a href="/login">Login</a></span>                
          </div>
      </div>
  </div>
</div>